@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
body {
    font-family: 'Days One', sans-serif;
    text-align: center;
}
::-moz-selection{
    background-color:#ffee38;
    color:#191919
}

::selection{
    background-color:#ffee38;
    color:#191919
}
body,html {
    background: #b0d6ff;
    height:100%;
  } 
